<div class="texto">
    <h1>Sobre el desarrollador</h1>
</div>

<hr>

<p class="parrafo">
    Mi nombre es <strong>Tomás Morales</strong>, un apasionado por la tecnología y el desarrollo de software. Soy un programador autodidacta y me gusta aprender nuevas habilidades para mejorar mis capacidades. 
</p>

<p class="parrafo">
    Actualmente me encuentro estudiando <strong>ingeniería en ciencias y sistemas</strong> en la universidad de San Carlos de Guatemala.
</p>

<p class="parrafo">
    Tengo experiencia en el manejo de lenguajes como <strong>Java, C#, Python</strong> y en tecnologías como <strong>Entity Framework, SQL server, LINQ, ASP.NET y BLAZOR SERVER</strong> también poseo conocimiento en <strong>HTML y CSS</strong>. Me gusta utilizar los conocimientos adquiridos en mi formación académica para poder resolver problemas de manera eficiente. 
</p>

<p class="parrafo">
    Me gusta trabajar en equipo siendo un buen compañero. Soy proactivo, siempre busco nuevas formas de mejorar mis habilidades y aportar a los proyectos en los que trabajo.
    Estoy entusiasmado por aprender más sobre diferentes tecnologías y aplicarlas en proyectos reales. Mi objetivo es convertirme en un desarrollador de software experto y aplicar los conocimientos que he adquirido en mi carrera universitaria.
</p>

<p>
    Te dejo mi contacto para que podamos conversar 🥸
</p>

<ul>
    <li style="color:black" ><a style="color:black"  href="https://linktr.ee/moralestomas" target="_blank"><strong>Contactar</strong></a></li>
</ul>


<hr>
